<ul class="nav nav-tabs">
	<li id="home" class="active"><a href="#home-container"><i
			class="icon-home"></i> Home</a></li>
	<li id="add-account"><a href="#add-account-container"><i
			class="icon-plus-sign"></i> Add Account</a></li>
	<li id="check-balance"><a href="#check-balance-container"><i
			class=" icon-briefcase"></i> Check Balance</a></li>
	<li id="transfer-amount"><a href="#transfer-amount-container"><i
			class="icon-share-alt"></i> Transfer Amount</a></li>
	<li id="contact-us"><a href="#contact-us-container"><i
			class="icon-envelope"></i> Contact Us</a></li>
</ul>
<!-- href="#add-account-container" -->