<h4 align="center">Your Current Balance is: 10000</h4>
<hr>
<table id="statement-table" class="table table-bordered table-striped">
	<caption>Statement Till Date</caption>
	<thead>
		<tr>
			<th>Date</th>
			<th>Amount</th>
			<th>CR/DR</th>
			<th>Remarks</th>
		</tr>
	</thead>

	<tbody>
		<% _.each(transactions, function(transaction) { %>

		<tr>
			<td><%= transaction.date %></td>
			<td><%= transaction.amount %></td>
			<td><%= transaction.type %></td>
			<td><%= transaction.remark %></td>
		</tr>

		<% }); %>
	</tbody>
</table>