
			#wrap {
				min-height: 100%;
				height: auto !important;
				height: 100%;
				width: 100%;
				/*Negative indent footer by its height*/
				margin: 0 auto -60px;
				position: fixed;
				left: 0;
				top: 0;
			}
			
			.footer {
				position: fixed;
				bottom: 0;
				left: 0;
				right: 0;
				height: 60px;
			}
		